<!DOCTYPE html>

<html lang="en">
<script type="text/javascript">
    fetch("/api/sites").then(response => response.json()).then(sites => {
        sites.forEach(site => {
            const el = document.createElement('li');
            el.innerText = site.url;
            document.querySelector('#sites').append(el);
        });
    });

    fetch("/api/users").then(response => response.json()).then(users => {
        users.forEach(user => {
            const us = document.createElement('li');
            us.innerText = user.userId;
            document.querySelector('#users').append(us);
        });
    });
</script>

<body>
<h1>Добро пожаловать в {{ name }}</h1>
<a href="http://139.59.131.146:3000"> Мониторинг </a>
<br>
<a href="/api/sites"> Сайты уже в системе в формате JSON </a>
<br>
<h3>Сайты:</h3>
<ul id="sites"></ul>
<br>
<h3>Пользователи:</h3>
<ul id="users"></ul>
</body>
</html>